form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;

  .name {
    display: flex;
    gap: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: #1f2937;

      @media (prefers-color-scheme: dark) {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
    }

    input {
      display: block;
      width: 100%;
      padding: 0.625rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-radius: 0.5rem;
      --tw-border-opacity: 1;
      border-color: rgb(209 213 219 / var(--tw-border-opacity));
      --tw-text-opacity: 1;
      color: rgb(17 24 39 / var(--tw-text-opacity));
      border-width: 1px;
      --tw-bg-opacity: 1;
      background-color: rgb(249 250 251 / var(--tw-bg-opacity));

      &:focus {
        --tw-border-opacity: 1;
        border-color: rgb(59 130 246 / var(--tw-border-opacity));
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
      }

      @media (prefers-color-scheme: dark) {
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgb(75 85 99 / var(--tw-border-opacity));
        --tw-placeholder-opacity: 1;
        color: rgb(156 163 175 / var(--tw-placeholder-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
        --tw-border-opacity: 1;
        border-color: rgb(59 130 246 / var(--tw-border-opacity));
      }
    }
  }

  .is-japanese {
    display: flex;
    align-items: center;

    input {
      width: 1rem;
      height: 1rem;
      color: #2563eb;
      background-color: #f3f4f6;
      border-color: #d1d5db;
      border-radius: 0.25rem;
      border-width: 1px;

      &:focus {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
      }

      @media (prefers-color-scheme: dark) {
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgb(75 85 99 / var(--tw-border-opacity));

        &:focus {
          --tw-ring-offset-color: #1f2937;
        }
      }
    }

    label {
      margin-inline-start: 0.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      --tw-text-opacity: 1;
      color: rgb(17 24 39 / var(--tw-text-opacity));

      @media (prefers-color-scheme: dark) {
        --tw-text-opacity: 1;
        color: rgb(209 213 219 / var(--tw-text-opacity));
      }
    }
  }

  button {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-inline-end: 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(30 64 175 / var(--tw-bg-opacity));
    }
    &:focus {
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
      --tw-ring-opacity: 1;
      --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    @media (prefers-color-scheme: dark) {
      --tw-bg-opacity: 1;
      background-color: rgb(37 99 235 / var(--tw-bg-opacity));

      &:hover {
        --tw-bg-opacity: 1;
      background-color: rgb(29 78 216 / var(--tw-bg-opacity));
      }
      &:focus {
        --tw-ring-opacity: 1;
      --tw-ring-color: rgb(30 64 175 / var(--tw-ring-opacity));
      }
    }
  }

  pre {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: auto;

    @media (prefers-color-scheme: dark) {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }
  }
}
